.primary_form
    .wrapper
        .room_info
            .room_number 
                span.room_number--number № 
                span.number 888 
                span.room_number--type люкс
            .room_cost 
                span.room_cost--bold 9 990₽ 
                span.per_day в сутки
            
        .date_picker
            .date_picker__dates
                h3.title прибытие               
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
            .date_picker__dates
                h3.title выезд
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
        .guest
            h3.title гости
                .input--wide Сколько гостей
                    <i class="material-icons">keyboard_arrow_down</i>
        
        .cost_count
            .cost_count_per_day 
                p 9 990₽ х 4 суток
                p Сбор за услуги: скидка 2 179₽
                p Сбор за дополнительные услуги
            .cost_count_total
                p 39 960₽
                p 0₽
                p 300₽

        .cost_total 
            span.cost_total__word Итого 
            span.cost_total_line
            span.cost_total_price  38 081₽
        
        button.book_room 
            span Забронировать
            <i class="material-icons">arrow_forward</i>
            