@import '../mixins/mixins.scss';

.primary_form {
    @include primary_form;
}

.wrapper {
    @include wrapper;
}

.room_info {
    @include room_info;
}

.room_number {
    vertical-align: bottom;
}

.room_number--number {
    @include h2_title;

}

.number {
    @include h2_title;
    font-size: 20px;
}

.room_number--type {
    @include room_type;
}

.room_cost--bold {
    @include room_cost--bold;
}

.per_day {
    @include per_day;
}

.date_picker {
    margin-bottom: 20.56px;
    display: flex;
    justify-content: space-between;
}

h3.title {
    @include h3_title;
}

.input {
    @include input;
    @include input_font;
}

.input i {
    @include material_icons;
}

.input--wide {
    @include input--wide;
    @include input_font;
    text-transform: none;
    margin-bottom: 0;
}

.input--wide i {
    @include material_icons;
}

.cost_count {
    
    @include input_font;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
}
.info {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
}

// .cost_count_per_day p:not(:last-child)::after {
//     height: 20px;
//     content: "	\1F6C8";
//     color: rgba(31, 32, 65, 0.25);
// }

.cost_count i {
    background: #ffffff;
    line-height: 14px;
    vertical-align: middle;
    filter: invert(50%);
}

.cost_count_total {
    text-align: right;
}


.cost_total {
    width: 100%;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
    position: relative;
    height: 24px;
    margin-bottom: 20px;
}

.cost_total__word {
    overflow: hidden;
    position: relative;
}

.cost_total__word::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 59%;
    height: 1px;
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
    margin-right: 5px;
    margin-left: 5px;
}

.book_room {
    @include form_button;
}

.book_room span {
    flex-grow: 1;
    margin-left: 3vh;
}
