.primary_form
    .wrapper
        .room_info
            .room_number 
                h1 №888 
                h1.room_number--type ЛЮКС
            .room_cost 9 990₽ в сутки
            
        .date_picker
            .date_picker__dates
                h3.title прибытие               
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
            .date_picker__dates
                h3.title выезд
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
        .guest
            h3.title гости
                .input--wide Сколько гостей
                    <i class="material-icons">keyboard_arrow_down</i>
        
        .cost_count
            p 9 990₽ х 4 суток<span>i</span>
            p Сбор за услуги: скидка 2 179₽<span>i</span>
            p Сбор за дополнительные услуги<span>i</span>

        .cost_total 
            span Итого
            span 38 081₽
        
        button.book_room 
            span Забронировать
            <i class="material-icons">arrow_forward</i>
            