
.primary_form
    .wrapper
        h1.search_room_title Найдём номера под <br/>ваши пожелания
        .date_picker
            .date_picker__dates
                h3.title прибытие               
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
            .date_picker__dates
                h3.title выезд
                .input ДД.ММ.ГГ
                    <i class="material-icons">keyboard_arrow_down</i>
    
        .guest
            h3.title гости
                .input--wide Сколько гостей
                    <i class="material-icons">keyboard_arrow_down</i>
        button.choose_room 
            span Подобрать номер
            <i class="material-icons">arrow_forward</i>