@import '../mixins/mixins.scss';


.primary_form {
    @include primary_form;
    height: 374px;
}

.wrapper {
    @include wrapper;
}

.search_room_title {
    @include h1_title;
}

.date_picker {
    margin-bottom: 20.56px;
    display: flex;
    justify-content: space-between;
    
}

h3.title {
    @include h3_title;
}

.input {
    @include input;
    @include input_font;
}

.input i {
    @include material_icons;
}

.input--wide {
    @include input--wide;
    text-transform: none;
}
.choose_room {
    @include form_button;
    display: flex;
    align-items: center;
}
.choose_room span {
    flex-grow: 1;
    margin-left: 3vh;
}