doctype
html
head
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700|Material+Icons")
    meta(charset="UTF-8")
    title TOXIN
body
    //- include ../ui_kit/room_search/room_search.pug
    include ../ui_kit/room_card/room_card.pug
    
    script(src="bundle.js")