@mixin primary_form {
    width: 380px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@mixin wrapper {
    width: 320px;
    margin: 40px 30px 30px 30px;
}

@mixin h1_title {
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

@mixin h2_title {
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #1F2041;
}

@mixin h3_title {
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

@mixin room_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@mixin room_type {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

@mixin room_cost--bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

@mixin per_day {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

@mixin input {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 44px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(47, 49, 88, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

}

@mixin input--wide {
    margin: 5px 0 31px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
    height: 44px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

@mixin input_font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}

@mixin material_icons {
    cursor: pointer;
    color: rgba(31, 32, 65, 0.5);
}

@mixin form_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border-style: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

